header {

   
    height: auto;
    color: salmon;
    text-align: center;
    font-size: 80px;
    font-family: 'Segoe UI';
    font-weight:400;
    margin: 10px auto;
    
        
    
}


#soulful {
    
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto;
    display: inline-block;
    height: auto;
       
       }

#postbreakup {
        
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px auto;
        display: inline-block;
        height: auto;
        margin-bottom: 30px;
        
        
                      }




 main {
        background-image: url(../images/blue-background-blue-sky-close-up-1864189.jpg);
        background-size: contain;
       
    }

section {
    font-family: 'Segoe UI';
    background-image: url(../images/yellow.jpeg);
    height: 50px;
    margin-bottom: 40px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    
}

h1 {
    font-family: 'Segoe UI';
    font-weight: 200;
    font-size: 50px;
    color: salmon;
    text-align: center;
}


footer {
    background-image: url(../images/yellow.jpeg);
    height: 200px;
    width: auto;
    margin-top: 0px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 40px;
    color: white;

}


