header {
  grid-area: header;
  background-color: gainsboro;
  text-align: center;
  font-family: Arial;
  font-size:90px;
  text-shadow: 2px 2px 4px #3E8C9F;
  color:lightcyan;
  


}
main {
  background-color: whitesmoke;
  min-height: calc(100vh - 54px);
  grid-area: main;
}
nav {
  background-color:gainsboro;
  grid-area: nav;
  
}
aside {
  background-color:whitesmoke;
  grid-area: aside;
}

.banner {
  background-color: gainsboro;
  grid-area: banner;
  text-align: center;
  font-family: Arial;
  font-size:70px;
  text-shadow: 2px 2px 4px #3E8C9F;
  color:lightcyan;

}

footer {
  background-color:gainsboro;
  grid-area: footer;
  text-align: center;
  font-family: Arial;
  font-size:20px;
  text-shadow: 2px 2px 4px #3E8C9F;
  color:lightblue;
}


#calendar {
background-image:url(grass.jpg);
opacity: .85;
width: 800px;
height: 600px;
margin: 20px auto;
color: white;
font-family: Arial;
opacity: 70%;
font-size: 20px;
}


#days {
margin: 30px 30px 30px 30px;
display: flex;
flex-direction: row;
color: white;
font-family: Arial;
font-size: 40px;
font-weight: 400;
}


h1 {
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}

#numbers {
display:flex;
flex-direction: row;
flex-wrap: wrap;
margin: 60px 60px 60px 60px;
grid-row-gap: 10px;
grid-template-rows: repeat(5, 1 fr);
}

li {list-style-type: none;
margin: 20px 20px 20px 20px;}


#calculator {
  width: 225px;
  height: 500px;
  background-color:darkgray;
  border-radius: 10px;
  margin: 20px auto;
}

#name {
    text-align: center;
    margin: 5px auto;
}



.digitButton {
 width: 60px;
 height: 70px;
 margin: 2px 5px;
 padding: 2px 2px;
 border-radius: 4px;
}


#displayBox {
  width: 215px;
  height: 50px;
  margin: 5px auto;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

@media (max-width: 576px) { /*-----MEDIA QUERY FOR MOBILE----*/
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "aside   main"
      "banner  footer";
  }


#name {
text-align: center;
margin-left: 30px;
font-family: Verdana;
border-color: black;
}


nav ul {
    display: flex;
    justify-content: space-between;
  }

#calendar {
    background-image:url(wood.jpeg);
    width: 525px;
    height: 450px;
    border: dashed;
    margin: 10px auto;
    font-family: Verdana;
    padding: 5px auto; 
            }

 
      
    #days {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px auto;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
        }
        
    h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-family: Century;
    
    }
    
    #numbers{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 20px 20px 20px;
    }
    
    li {list-style-type: none;
    margin: 20px 20px 20px 20px;}
    
    #calculator {
      width: 225px;
      height: 300px;
      background-image:url(wood.jpeg);
      border-radius: 10px;
      margin: 150px 150px;
      padding: 10px;
    }
    
    .digitButton {
     width: 60px;
     height: 30px;
     margin: 2px 5px;
     padding: 2px 2px;
     border-radius: 4px;
    
    }
    
    
    #displayBox {
      width: 215px;
      height: 50px;
      margin: 5px auto;
      border-radius: 10px;
           }

          header {
            background-color:whitesmoke;
            font-family: 'Courier New';
            font-size: 20px;
            text-align: center;
      
           
          }
          main {
            background-color: white;
            min-height: calc(100vh - 54px);
            grid-area: main;
          }
          nav {
            background-color: black;
            grid-area: nav;
          }
          aside {
            background-color:whitesmoke;
            grid-area: aside;
            margin-bottom: 10px;
            border: 90px;
            border: dashed;
            border-color: white;
            
          }
          .banner {
            background-color: black;
            grid-area: banner;
          }
          footer {
            background-color:black;
            grid-area: footer;
          }

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    main    aside"
      "nav    main    banner"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}