

.everything {
	display: flex;
}

.intro {
    color:goldenrod;
    font-family: 'Thasadith', sans-serif;
    font-size: 60px;
    text-align: right;
	background-size: cover;
	padding: 20px;
	margin: 0 auto;
	width: 30%;
	
}

.introtext {
	color:black;
	padding: 40px auto;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	
	
	;


}

header   {
    color:black;
    font-family: 'Thasadith', sans-serif;
    font-size: 70px;
	text-align: center;
	margin: 10px auto;
	flex-wrap: wrap;
	flex-direction: row;
}

#aol {
		opacity: .5;
		width: 35px;
		height: 35px;
		margin: 10px 10px 10px auto;
			
}

.container {
	width: 30%;
	margin: 55px auto;
   }

.speech-bubble {
	position: relative;
	background: lightgrey;
    border-radius: .4em;
    padding: 20px;
    
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 42px solid transparent;
	border-top-color:lightgrey;
	border-bottom: 0;
	border-right: 0;
	margin-left: -21px;
    margin-bottom: -42px;
    }

.me-speech {
	position: relative;
	background: gray;
    border-radius: .4em;
    margin: 50px 50px 50px 50px;
    color: white;
    padding: 20px;
    font-size: 20px;
}


.me-speech:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 42px solid transparent;
	border-top-color: gray;
	border-bottom: 0;
	border-left: 0;
	margin-left: -21px;
	margin-bottom: -22px;
}

#profilePic {
	width: 90px;
	height: 90px;BORDER-RADIUS: 50%;
	border: 1px dashed grey;
	padding: 10PX;
	

}