
section{
    display: flex;
    background-color: lightgray;
    margin-top: 5px;
    width: 850px;
    height: 324px;
    flex-direction: row;
    font-family:'Segoe UI';
    margin:center;
    font-size: 10px;
    padding: 5px 10px 10px 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
                               }

main { 
    background-image: url(../images/galaxy.jpeg);
    background-repeat: no-repeat;
    width: 850px;
    height: 450px;
    align-content: center;
    color: white;
    text-align: center;
    padding: 30px 10px 10px 10px;
    font-family: 'Segoe UI';
    font-size: 50px;
    margin: 20px auto;

       }

#article {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }




h2 {
    text-align: center;
    padding: 30px 30px 30px 30px;
    font-size: 20px;
        }

p {
    font-family: 'Segoe UI';
    text-align: center;
    padding: 90px auto;
    font-size: 15px;
    
    }

.displaybox{
        width: 150px;
        margin: 5px auto;
        border-radius: 4px;
    }

.is-tall{
      
        height: 70px;
        
    }

div {
    margin: 20px auto;

}