body {
    padding: 0;
    margin: 0;
    background:#1E1E22;
    }

h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
 

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.btn{
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.btn1 {
    background: #fac536;
    position: relative;
    overflow: hidden;
}

.btn1::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate (-50%, -50%);
    width: 50%;
    height: 10%
}

.btn2 {
    background: #39ea49;
    position: relative;
    overflow: hidden;
}

.btn2::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 10%;
}

.btn3 {
    background: #f25056;
    position: relative;
    overflow: hidden;
}

.btn3::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
rotate(-45deg);
    width: 15%
    height: 50%;
    opacity: 0;
    background: #222;
    transition: 300ms;
}

.btn3::after{
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
rotate(45deg);
    width: 15%;
    opacity: 0;
    height: 50%;
    background: #222;
    transition: 300ms;

}


.btn3:hover::before, .btn3:hover::after {
opactiy: 1;
top: 50%;
    


}

@keyframes dizzy {

}