body {
    margin: 0;
    padding: 0;

}

main {
    margin: 0;
    padding: 0;

}

header {

   
    height: auto;
    color: salmon;
    text-align: center;
    font-size: 80px;
    font-family: 'Segoe UI';
    font-weight:400;
    margin: 0 auto;
    
        
    
}

a {
    color: white;
    margin: 0 40px;


}




#soulful {
    
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto;
    display: inline-block;
    height: auto;
    width: 100%;
    justify-content: center; 
    align-self: center;
       
       }

#postbreakup {
        
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px auto;
        display: inline-block;
        height: auto;
<<<<<<< HEAD
        margin-bottom: 30px;
                
                      }

=======
        margin: 0 auto;
        width: 100%;
        justify-content: center; 
        align-self: center;
        
        
                      }

iframe {
    margin: 0 35px;
}




>>>>>>> master
 main {
        background-image: url(../images/blue-background-blue-sky-close-up-1864189.jpg);
        background-size: contain;
       
    }

section {
    font-family: 'Segoe UI';
    background-image: url(../images/yellow.jpeg);
    height: 50px;
    margin-bottom: 40px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    
}

h1 {
    font-family: 'Segoe UI';
    font-weight: 200;
    font-size: 50px;
    color: salmon;
    text-align: center;
}


footer {
    background-image: url(../images/yellow.jpeg);
    height: 200px;
    width: auto;
    margin-top: 0px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 40px;
    color: white;

}


